<%
let alert = request.session[SessionVariables.ALERT];
if (alert !== undefined) {
%>
    <script>
        alert("<%= alert %>");
    </script>
<%
    request.session[SessionVariables.ALERT] = undefined;
}
%>
<nav class="topnav" id="myTopnav">
    <ul>
        <div class="kiri">
            <li>
                <a href="javascript:void(0);" class="icon" onclick="bar()"> <i class="fa fa-bars"></i></a>
            </li>
            <li>
                <a href="<%= Routes.HOME %>"><img class="logo" src="/img/BACA%20KOMIK%20ICON.png" alt=""></a>
            </li>
            <li><a class="respon" href="<%= Routes.HOME %>">Home</a> </li>
            <li><a class="respon" href="<%= Routes.PROJECT %>">Project</a> </li>
        </div>
        <div class="kanan">
            <form action="<%= Routes.SEARCH %>" method="get">
                <li>
                    <input class="respon" type="text" name="<%= WebVariables.SEARCH_QUERY %>" id="<%= WebVariables.SEARCH_QUERY %>" placeholder="Cari">
                </li>
                <button type="submit">Cari</button>
            </form>
<!--            <li>-->
<!--                <a href="javascript:void(0);" class="icon" onclick="find()">-->
<!--                    <i class="fa fa-search"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--            <ul class="list-group" id="result"></ul>-->
            <%
            let authModel = undefined;
            if (!AuthenticationFlag.isAuthenticated()) {
            %>
                <a href="<%= Routes.LOGIN %>">Masuk</a>
            <%
            } else {
                authModel = request.session[SessionVariables.AUTH_MODEL];
            %>
                <i style="margin-top:10px; color:#2095F2;" class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                <i class="fa fa-caret-down" aria-hidden="true" style="color:#2095F2;"></i>
                <ul id="dropdown" style="display:none">
                    <li>
                        <a href="#" class="biru size18">
                            <%= authModel.first_name %>
                        </a>
                    </li> <br>
                    <li onclick="verif();">
                        <a class="hijau size14" href="javascript:void(0);">
                            <%= AuthenticationFlag.isVerified(request) ? "Terverifikasi" : "Belum Terverifikasi" %>
                        </a>
                    </li> <br>
                    <li><a href="#" style="color:black; cursor:default;">Komik</a></li> <br>
                    <li><a class="abu" href="<%= Routes.COLLECTION %>">Koleksi</a></li> <br>
                    <li class="garis" onclick="profil();"><a href="javascript:void(0);" aria-disabled="<%= AuthenticationFlag.isVerified(request) ? "true" : "false" %>">Edit Profil</a></li> <br>
                    <li ><a class="merah" href="#confirm-logout" onclick="confirmLogout()">Logout</a></li>
                </ul>
            <% } %>
        </div>
        <div class="clear"></div>
        <div id="bar" style="display:none;" class="bar">
            <a class="respon" href="<%= Routes.HOME %>">Beranda</a>
            <a class="respon" href="<%= Routes.PROJECT %>">Project</a>
        </div>
        <div id="find" style="display:none;" class="bar">
            <input class="respon" type="text" placeholder="   Cari">
        </div>
    </ul>
</nav>
<% if (AuthenticationFlag.isAuthenticated(request)) { %>
    <!-- modal box -->

    <div class="content2">
        <div class="header2">
            <!-- <p>Data Tersimpan</p> -->
            <label for="click" class="fas fa-times" onclick="closeverif();"></label>
        </div>
        <label id="kedua" for="click" class="fas fa-times"></label>
        <p> input masih ada yang kosong nih, isi dulu ya kak.</p>
        <div class="line"></div>
        <label for="click" class="close-btn2" onclick="closeverif();">Close</label>
    </div>

    <!-- untuk verifikasi -->
    <div class="bg-modal" id="verif" style="display:none;">
        <div class="modal-konten">
            <div class="tutup" onclick="tutup();">+</div>
            <h1>Verifikasi Akun</h1>
            <form id="form-verification" action="<%= Routes.HOME %>" method="get">
                <br>
                <div class="input-container">
                    <p>
                        Pastikan Email Anda Sudah Tepat Karena Kami Tidak Akan Bisa Mengirim Email Jika Email Yang Digunakan Salah!
                    </p>
                </div>
                <button type="submit" name="button" onclick="alert('Coming Soon!')">Kirim Verifikasi</button>
            </form>
        </div>
    </div>

    <!-- untuk edit profil -->
    <div class="bg-modal" id="profil" style="display:none;">
        <div class="modal-konten">
            <div class="tutup" onclick="tutup();">+</div>
            <h1>Edit Profil</h1>
            <form id="form-update-user" action="<%= Routes.UPDATE_AUTH %>" method="post">
                <br>
                <div class="input-container">
                    <label class="kiri" for="<%= WebVariables.EMAIL %>">Email</label><br>
                    <input type="email" name="<%= WebVariables.EMAIL %>" id="<%= WebVariables.EMAIL %>" placeholder="Email" value="<%= authModel.email %>" required readonly><br>
                </div>
                <div class="input-container">
                    <label class="kiri" for="<%= WebVariables.PASSWORD %>">Password</label><br>
                    <input type="password" name="<%= WebVariables.PASSWORD %>" id="<%= WebVariables.PASSWORD %>" placeholder="Password" value="<%= authModel.password %>" required><br>
                </div>
                <div class="input-container">
                    <label class="kiri" for="<%= WebVariables.FIRST_NAME %>">First Name (Display Name)</label><br>
                    <input type="text" name="<%= WebVariables.FIRST_NAME %>" id="<%= WebVariables.FIRST_NAME %>" placeholder="Nama Depan" value="<%= authModel.first_name %>" required><br>
                </div>
                <div class="input-container">
                    <label class="kiri" for="<%= WebVariables.LAST_NAME %>">Last Name</label><br>
                    <input type="text" name="<%= WebVariables.LAST_NAME %>" id="<%= WebVariables.LAST_NAME %>" placeholder="Nama Depan" value="<%= authModel.last_name %>" required><br>
                </div>
<!--                <label for="file" style="padding-top:10px;">Foto Profil</label> <br>-->
<!--                <input class="fileSize3" type="file" id="<%= WebVariables.NAME %>" name="<%= WebVariables.NAME %>" accept="image/*" onchange="readURL_editakun(this);"> <br>-->
<!--                <img id="blah3" src="http://placehold.it/180" alt="your image" /> <br>-->
<!--                <p id="size3">Ukuran file : </p>-->
                <button type="submit" name="button">Update</button>
            </form>
        </div>
    </div>
    <!-- untuk peringatan keluar akun -->
    <div class="bg-modal" id="confirm-logout" style="display:none;">
        <div class="modal-konten" style="max-height: 150px;">
            <h1>yakin ingin keluar?</h1>
            <br>
            <form action="<%= Routes.LOGOUT %>" method="get">
                <button type="button" name="button" onclick="tutup();">tidak</button>
                <button type="submit" name="button">ya</button>
            </form>
        </div>
    </div>
<% } %>