<!-- conten -->
<div class="konten">
    <form id="submitForm" action="<%= Routes.REGISTER_2 %>" method="post">
        <h1>DAFTAR</h1><br>
        <input type="hidden" name="<%= WebVariables.EMAIL %>" value="<%= locals[WebVariables.EMAIL] %>" />
        <input onkeyup="validasi();" type="password" name="<%= WebVariables.PASSWORD %>" placeholder="Masukkan kata sandi" id="pass" autocomplete="true"><br>
        <input onkeyup="validasi2();" type="password" name="<%= WebVariables.PASSWORD_CONFIRMATION %>" id="pass2" placeholder="Konfirmasi kata sandi" autocomplete="true"><br>
        <input type="text" name="<%= WebVariables.FIRST_NAME %>" placeholder="Nama depan" required/>
        <input type="text" name="<%= WebVariables.LAST_NAME %>" placeholder="Nama belakang" required/>
        <p style="display:none;color:red;" id="samain">*konfirmasi password tidak sama</p>
        <p style="display:none;color:red;" id="panjangPendek">*password panjangnya harus 5 sampai 12 karakter</p>
        <p style="display:none;color:red;" id="kKecil">*password harus memiliki 1 karakter huruf kecil</p>
        <P style="display:none; color:red;" id="kBesar">*password harus memiliki 1 karakter huruf besar</P>
        <p style="display:none;color:red;" id="kAngka">*password harus memiliki 1 karakter angka</p>
        <button name="button" type="submit" id="submit">Daftar</button>
    </form>
</div>