<!-- KONTEN -->
<div class="konten" style="background: none;" onclick="closeDrop();">
    <div class="main-kiri">
        <div class="isi" id="isi">
            <div class="isi2">
                <div class="atas">
                    <div class="atas-kiri">
                        <p class="jud">Sedang Hangat</p>
                    </div>
                </div>
            </div>
            <script>
                let apiData = JSON.parse(JSON.stringify(<%- JSON.stringify(api_data) %>));
                let trendingLength = apiData.trending.length;
            </script>
            <div class="tengah">
                <%
                let length = api_data.trending.length;
                for (let i = 0; i < length; i++) {
                %>
                    <div class="cover1">
                        <a href="<%= api_data.trending[i].endpoint %>">
                            <div class="image-container">
                                <img src="<%= api_data.trending[i].thumbnail %>" alt="thumbnail">
                            </div>
                            <div class="text-container">
                                <p class="judul"><%= api_data.trending[i].title %></p>
                            </div>
                        </a>
                    </div>
                <% } %>
            </div>

            <div class="kiri_panah" onclick="clickedArrow(-1)"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>
            <div class="kanan_panah" onclick="clickedArrow(1)"><i class="fa fa-chevron-right" aria-hidden="true"></i></div>

            <div class="clear"></div>
        </div>

        <div class="clear"></div>

        <div class="isi">
            <div class="isi2">
                <div class="atas">
                    <div class="atas-kiri">
                        <p class="jud">Update Terbaru</p>
                    </div>
                    <div class="atas-kanan">
                        <div class="pagination pagination-previous" onclick="changePageLatest(-1)">
                            <i class="fa fa-chevron-left"></i>
                        </div>
                        <div class="pagination">
                            <p>1</p>
                        </div>
                        <div class="pagination pagination-next" onclick="changePageLatest(1)">
                            <i class="fa fa-chevron-right"></i>
                        </div>
                    </div>
                </div>
            </div>
            <%
            length = api_data.latest.length;
            for (let i = 0; i < length; i++) {
            %>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <a href="<%= api_data.latest[i].endpoint %>">
                            <div class="image-container">
                                <img src="<%= api_data.latest[i].thumbnail %>" alt="cover" sizes="20%">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <a href="<%= api_data.latest[i].endpoint %>">
                            <p class="judul"><%= api_data.latest[i].title %></p>
                        </a>
                    </div>
                </div>
                <div class="column">
                    <div class="card">
                        <a href="<%= api_data.latest[i].endpoint %>">
                            <p class="episode"><%= api_data.latest[i].type %></p>
                        </a>
                    </div>
                </div>
            </div>
            <% } %>
        </div>
    </div>
    <div class="sidebar">
        <div class="kanan2">
            <div class="atas">
                <div class="atas-kiri">
                    <p class="jud">Mirror</p>
                </div>
                <div class="atas-kanan">
                    <div class="pagination pagination-previous" onclick="changePageMirror(-1)">
                        <i class="fa fa-chevron-left"></i>
                    </div>
                    <div class="pagination">
                        <p>1</p>
                    </div>
                    <div class="pagination pagination-next" onclick="changePageMirror(1)">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>
            </div>
            <div class="isi2">
                <%
                length = api_data.mirror.length;
                for (let i = 0; i < length; i++) {
                %>
                    <div class="kanan2-isi">
                        <div class="num"><%= i + 1 %>.</div>
                        <a href="<%= api_data.mirror[i].endpoint %>">
                            <div class="image-container">
                                <img src="<%= api_data.mirror[i].thumbnail %>" alt="cover" sizes="20%">
                            </div>
                            <div class="lol">
                                <p class="judul"><%= api_data.mirror[i].title %></p>
                                <p class="pengarang"><%= api_data.mirror[i].type %></p>
                            </div>
                        </a>
                    </div>
                <% } %>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
</div>